.create-profile-portal-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #131313;
    z-index: 1000;
  }
  
  .create-profile-portal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #131313;
    z-index: 1000;
    height: 80vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  
  @media screen and (min-width: 768px) {
    .create-profile-portal {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  
  @media screen and (min-width: 992px) {
    .create-profile-portal {
      width: 60vw;
    }
  }
  
  .portal-center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  @media screen and (min-width: 768px) {
    .portal-center-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      width: 100%;
    }
  }
  
  .create-profile-heading {
    color: #ffffff;
    font-size: 28px;
    font-weight: 600;
    font-family: 'HK Grotesk';
  }
  
  @media screen and (min-width: 768px) {
    .create-profile-heading {
      font-size: 38px;
    }
  }
  
  .create-profile-paragraph {
    font-size: 18px;
    font-weight: 500;
    font-family: 'HK Grotesk';
    color: #475569;
    text-align: center;
    margin-top: 0px;
  }
  
  @media screen and (min-width: 768px) {
    .create-profile-paragraph {
      font-size: 27px;
    }
  }
  
  .profile-line-element {
    background-color: #333333;
    width: 80vw;
    border: 2px solid #333333;
    border-radius: 5px;
  }
  
  @media screen and (min-width: 768px) {
    .profile-line-element {
      width: 80vw;
    }
  }
  
  @media screen and (min-width: 992px) {
    .profile-line-element {
      width: 60vw;
    }
  }
  
  .profile-avatar-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
  }
  
  @media screen and (min-width: 768px) {
    .profile-avatar-container {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      margin-top: 22px;
      margin-bottom: 22px;
      width: 100%;
    }
  }
  
  .profile-image {
    height: 106px;
    width: 106px;
  }
  
  @media screen and (min-width: 768px) {
    .profile-image {
      height: 136px;
      width: 136px;
      margin-right: 32px;
    }
  }
  
  @media screen and (min-width: 992px) {
    .profile-image {
      margin-right: 42px;
    }
  }
  
  .profile-name-input {
    background-color: #333333;
    color: #ffffff;
    height: 35px;
    width: 60vw;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    padding-left: 12px;
    margin-top: 22px;
    margin-bottom: 12px;
  }
  
  @media screen and (min-width: 768px) {
    .profile-name-input {
      height: 45px;
      width: 45vw;
      padding-left: 18px;
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }
  
  @media screen and (min-width: 992px) {
    .profile-name-input {
      width: 30vw;
    }
  }
  
  .profile-submit-cancel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 22px;
  }
  
  @media screen and (min-width: 768px) {
    .profile-submit-cancel-container {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      margin-top: 32px;
      width: 100%;
    }
  }
  
  .save-profile-button {
    color: #ffffff;
    background-color: red;
    font-size: 18px;
    font-weight: 500;
    font-family: 'HK Grotesk';
    height: 45px;
    width: 130px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    margin-bottom: 20px;
  }
  
  @media screen and (min-width: 768px) {
    .save-profile-button {
      font-size: 22px;
      height: 60px;
      width: 160px;
      margin-bottom: 0px;
      margin-right: 32px;
    }
  }
  
  .save-profile-button:hover {
    border: 2px solid #ffffff;
  }
  
  .cancel-portal-button {
    color: gray;
    background-color: transparent;
    font-size: 18px;
    font-weight: 500;
    font-family: 'HK Grotesk';
    height: 45px;
    width: 130px;
    border: 2px solid gray;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
  }
  
  .cancel-portal-button:hover {
    border: 2px solid red;
  }
  
  @media screen and (min-width: 768px) {
    .cancel-portal-button {
      font-size: 22px;
      height: 60px;
      width: 160px;
    }
  }
  